<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="stylesheet" href="styling/welcome_page.css" />
    <link rel="stylesheet" href="styling/nav.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include("../nav.ejs") %>
    <main class="intro-class">
      <section class="intro-section">
        <p class="text">All your work enviroment in one place</p>
        <p class="subtext">Control your project and monitor everything you need.</p>

        <div class="button-container">
            <a href="/authCheck"><button>Log-in</button></a>
            <button>show services</button>
        </div>
      </section>
      <section class="svg-section">
        <img src="images/image.jpg" />
      </section>
    </main>
  </body>
</html>
